doctype html
html
  head
    title Al-Arabian 
    style
      include ../static/style.css
  body 
    nav#navbar 
      div#logo
        h5 I am a logo
      div#title
        | Al - Arabian   
      div#ulli
        ul
          li #[a(href="/") Home]
          li #[a(href="/") Menu]
          li #[a(href="/") About us]
          li #[a(href='/') Contact us]
    section#secbar
      div#logo1
      div#hdq
        div#hd
          | Al 
        div#hd2
          | Arabian
      div#logo2
      div#bg
      div#title2
        |S E R V I C E S
      div#lcont
          div#logo3
          div#logo4
          div#logo5
      div#title3
        | A B O U T - U S
      div#pr
        div#pr1
          div#bio
            |Nusret Gökçe
          div#pg
            p|You can’t have missed the phenomenon Nusret Gökçe commonly known as Salt Bae. Of Kurdish origin from Turkey, he was born in 1983 and is basically an apprentice butcher in the Kadikoy district of Istanbul.
        div#pr2
          div#bio2
            |Burak Özdemir
          div#pg2
            p|Burak Özdemir, nicknamed CZN Burak, was born in 1994. He is a Turkish chef and restaurateur, owner of the Hatay Civilizations Table restaurant chain. His famous chain has a total of five branches: Taksim, Aksaray, Etiler, and foreign branches in Dubai, the Kurdistan Region, and Tajikistan, CZN.
      div#title4
        | M E N U
      div#t
        div#n1
          | THARID
      div#tharid
        div#pg3
          p Traditionally, tharid is a lamb stew that Prophet Muhammad (PBUH) highly appreciated. The spicy stew gets its consistency from barley bread. With changing times, tharid has been experimented with numerous meat, vegetables, and bread type .The meat for tharid is stewed with a variety of spices and vegetables, usually potatoes, onions, and carrots, and is then arranged over crispy thin bread and served.
      div#t2
       div#n2
        | KUNAfAH 
      div#kunafah
        div#pg4
          p Kunafah, or kanafeh, is a sweet and crunchy pastry that is famous throughout the Middle Eastern region. You can find kunafah in dozens of shapes and forms in almost all Arab countries.kunafah is stuffed with either a cream or a cheese filling and drizzled with a generous amount of sweet syrup. It is then cut into small portions and served warm.
      div#t3
        div#n3
          | GAHWA
      div#gahwa
        div#pg5
          p Gahwa has been a central part of Saudi Arabian culture for centuries and is the ultimate symbol of hospitality when it comes to welcoming guests. Gahwa is essentially Arabic coffee made from ground roasted coffee beans mixed with spices such as cloves and cardamom.This drink is available at all times of the day and even at night and is typically consumed with fresh dates or sweets.   
      div#t4
        div#n4
          | MANDI
      div#mandi
        div#pg6
          p Mandi is a rice dish and boiled meat cooked in an underground pit oven using various spices for taste. The dish gets its iconic yellow color from turmeric. It finds its roots in Yemen but has become quite popular in KSA; definitely one of the top dishes to try in Saudi Arabia
      div#t6
        div#n6
          | HAREES
      div#harees
        div#pg8
          p Harees is one of the oldest dishes in the Kingdom of Saudi Arabia and is considered a staple during the holy month of Ramadan. The spices used to cook harees depend largely on the region you find yourself in, though in most cases cardamom, cumin, and cinnamon are used.
      div#t7
        div#n7
          | KABSA
      div#kabsa
        div#pg9
          p Considered as the national dish of Saudi, Kabsa is a rice dish made with meat and vegetables. The chefs of Saudi make extensive use of dried fruits and nuts in most of their preparations, Kabsa is no exception to this rule! We suggest you grab a spoon and take a deep dive into the mounds of this flavourful rice cuisine!
      div#t8
        div#n8
          | SHAWARMA
      div#shawarma
        div#pg10
          p It should come as no surprise that one of the most popular foods available in Saudi Arabia is shawarma. Found almost everywhere you go, shawarma is a staple Arab dish that consists of meat cut into thin slices, layered on top of each other in a huge cone-like shape, and slow-roasted on a spit. 
    footer#ft 
      div#container
        div#title5
          |C O N T A C T - U S
        div#fm 
          form(action='/',method="post", class ="myfrm")
          <input type="text" class="name" name="name" placeholder="Enter your Name ">
          <input type="number" class="age" name="age" placeholder="Enter your Age ">
          <input type='email' class="email" name="email" placeholder ="Enter your E-mail">
          <input type="password" class="password" name ="password" placeholder ="Enter your Password">
          div#btm
            button
              |SUBMIT
        


